<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form id="loginForm" action="/login" method="post">
        <span>아이디 : </span>
        <input id="id" placeholder="아이디를 입력하세요."/>
        <br>
        <span>비밀번호 : </span>
        <input id="pwd" type="password" placeholder="비밀번호를 입력하세요."/>
        <br>
        <button type="submit">로그인</button>
    </form>


    <script>
        document.getElementById("loginForm").addEventListener("submit", function (e) {
            e.preventDefault();

            const id = document.getElementById("id").value;
            const pwd = document.getElementById("pwd").value;

            fetch("/login", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({id, pwd})
            })
            .then(async res => {
                //console.log(res);
                if (res.ok) {
                    window.location.href = "/userlist";
                } else {
                    const err = await res.json();
                    console.log("err json:", err);
                    alert(err.message);
                    window.location.href = "/login";
                    console.log("login fail")
                }
            })
            .catch(err => {
                alert("서버 오류");
            });
        });
    </script>
</body>
</html>