<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>김종현_파일 업로드</title>
    </head>
<body>
    <h1>DB 파일 업로드</h1>
    <th:block th:if="${error}">
        <script th:inline="javascript">
            alert([[${error}]]);
            location.href="/upload";
        </script>
    </th:block>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".dbfile" required>
        <button type="submit">업로드</button>
    </form>
</body>
</html>