<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>파일 업로드</title>
        <link rel="stylesheet" href="/css/upload.css">
    </head>
    <body>
        <div id="fileUploadDiv">
            <h1>DB 파일 업로드</h1>
            <br>
            <form id="uploadForm">
                <input type="file" name="file" accept=".dbfile" required>
                <button type="submit">업로드</button>
            </form>
            <div id="resultArea" style="margin-top:20px;"></div>
        </div>
        <script src="/js/upload.js"></script>
    </body>
</html>