<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/codebase/suite.js"></script>
    <link rel="stylesheet" href="/codebase/suite.css">
    <script src="/js/fileuploadElement.js"></script>
    <script src="/js/fileupload.js"></script>
    <title>파일업로드화면</title>
    <style>
        .dhx_layout-cell{
            margin: 0 4vw 0 4vw;
        }
        .dhx_layout-cell userlistgrid {
            height: 200px;
        }
        .dhx_grid {
            height: 200px;
        }
        .uploadForm{
            padding: 6vh 0 0 0 !important;
        }
        .dhx_button{
            margin: 0 100px 20px 0;
        }

    </style>
</head>
    <body>
        <div id="fileuploadform"></div>
    </body>
</html>