<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/codebase/suite.js"></script>
    <link rel="stylesheet" href="/codebase/suite.css">
    <title>유저리스트화면</title>
    <style>
        .dhx_grid-less-width {
            height: 442px !important;
        }
    </style>
</head>
    <body>
        <div id="userlistform" style="width: 100vw; height: 100vh;">유저리스트</div>
    </body>
    <script src="/js/userlist.js"></script>
</html>